body {
    background-color: bisque;
}

h1 {
    text-align: center;
}

#chip8canvas {
    display: flex;
    justify-content: center;
}

.beep {
    animation: flash 0.3s forwards linear normal;
}

@keyframes flash {
    0% {
        background: bisque;
    }
    10% {
        background: red;
    }
    100% {
        background: bisque;
    }
}

pre {
    text-align: center;
}